.SHaaban-category-area,
.SHaaban-recent-posts-area {
    margin-bottom: 30px;
}

.SHaaban-adding-margin-bottom {
    margin-bottom: 20px;
}

.SHaaban-remove-margin {
    margin: 0;
}

.SHaaban-category-body {
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    margin-bottom: 10px;
    transition: color .2s;
}

.SHaaban-category-area-title,
.SHaaban-recent-posts-area-title {
    font-size: 20px;
    font-weight: 600;
}

.SHaaban-category-body:hover {
    color: black;
    cursor: pointer;
}

.SHaaban-recent-post-body {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    transition: color .2s;
}

.SHaaban-recent-post-body:hover {
    cursor: pointer;
    color: #FF782D;
}

.SHaaban-adding-style-for-tags-area {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    color: var(--dark-grey);
}

@media (max-width:1710px) {
    .SHaaban-adding-style-for-recent-posts-img {
        width: 80.1563px;
        height: 80.1563px;
    }
}

@media (max-width:1640px) and (min-width:1520px) {

    .SHaaban-category-area-title,
    .SHaaban-category-name,
    .SHaaban-recent-posts-area-title,
    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 15px;
    }
}

@media (max-width:1520px) and (min-width:1445px) {

    .SHaaban-category-area-title,
    .SHaaban-category-name,
    .SHaaban-recent-posts-area-title,
    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 14px;
    }
}

@media (max-width:1445px) and (min-width:1350px) {
    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 13px;
    }
}

@media (max-width:1350px) and (min-width:1265px) {
    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 12px;
    }

    .SHaaban-adding-style-for-recent-posts-img {
        width: 61.6406px;
        height: 61.6406px;
    }
}

@media (max-width:1265px) and (min-width:1150px) {

    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 11px;
    }

    .SHaaban-adding-style-for-recent-posts-img {
        width: 61.6406px;
        height: 61.6406px;
    }
}

@media (max-width:1150px) and (min-width:1110px) {

    .SHaaban-adding-style-for-recent-posts-paragraph {
        font-size: 10px;
    }

    .SHaaban-adding-style-for-recent-posts-img {
        width: 61.6406px;
        height: 61.6406px;
    }
}