/* تعيين أنماط عامة */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rb-logo {
    width: 110px;
}

.ra-nav-comp {

    border-bottom: solid 1px var(--light-gray);
    padding: 0px 16.4063%;
}

.ra-nav-comp .rb-search {
    /* font-size: 8px; */
    background-color: var(--white);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* تغيير الخلفية عند التمرير أو التركيز */
.ra-nav-comp .rb-search:hover,
.ra-nav-comp .rb-search:focus {
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

/* تغيير لون الأيقونة عند التمرير أو التركيز */
.ra-nav-comp .rb-search:hover .rb-search-icon,
.ra-nav-comp .rb-search:focus .rb-search-icon {
    color: var(--white) !important;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.ra-nav-comp .container-fluid {
    padding: 0px;
    align-items: baseline;
}

.ra-nav-comp .navbar-nav {
    align-items: baseline;

    margin: 0 auto;
}

.ra-nav-comp h5 {
    width: max-content;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

/* .ra-nav-comp #navbarScrollingDropdown .rb-NavDropdown .rb-nav-link { */
/* color: black; */
/* padding: 2px 68px 4px 0; */
/* text-decoration: none; */
/* } */
.ra-nav-comp #navbarScrollingDropdown {

    font-weight: 600;
    font-size: 14px;
    color: black;
    padding: 26.5px 6.5px;
}


.ra-nav-comp .navbar-collapse {
    justify-content: space-between;
}

.ra-nav-comp .rb-nav-link {
    padding: 26.5px 6.5px;
    text-decoration: none;
}

.ra-nav-comp .rb-nav-link:hover,
.ra-nav-comp .rb-nav-link:focus,
.ra-nav-comp #navbarScrollingDropdown:hover {
    background-color: var(--light-gray);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.ra-nav-comp .rb-Dropdown-nav .rb-NavDropdown a {

    font-size: 18px;
    padding: 0;
    background-color: var(--white);
    color: black;

}

.ra-nav-comp .rb-Dropdown-nav .rb-NavDropdown a:hover {
    background-color: transparent;
    color: var(--main-color);
    transition: color 0.3s ease,background-color 0.3s ease;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease;
    -moz-transition: color 0.3s ease,background-color 0.3s ease;
    -ms-transition: color 0.3s ease,background-color 0.3s ease;
    -o-transition: color 0.3s ease,background-color 0.3s ease;
}

.ra-nav-comp .rb-nav-link:hover h5,
.ra-nav-comp .rb-nav-link:focus h5,
.ra-nav-comp #navbarScrollingDropdown:hover {
    color: var(--main-color);
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.ra-nav-comp .d-flex a {

    font-size: 16px;
    width: max-content;
    text-decoration: none;
    color: black;
}

.ra-nav-comp .d-flex a:hover {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.ra-nav-comp .d-flex {

    gap: 9px;
    align-items: center;
    padding: 12px 0;
}

.ra-nav-comp .rb-search .rb-search-icon {
    color: var(--main-color);
    font-size: 15.5px;
}

.ra-nav-comp .rb-logo-nav {
    margin: 0px;
}

.rb-navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.rb-navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}

/* Media Queries--------------------------------------------------------------------------------------------- */

/* Styles for large screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {


    .rb-logo {
        width: 116px;
    }

    .ra-nav-comp .d-flex a {
        font-size: 14px;
    }

    .ra-nav-comp h5,
    .ra-nav-comp #navbarScrollingDropdown {
        font-size: 12px;
    }

    .ra-nav-comp .rb-search {
        width: 27px;
        height: 27px;
        font-size: 1px;
    }
    .ra-nav-comp .rb-nav-link {
        padding: 26.5px 5px;

    }
    .ra-nav-comp .navbar-nav {

        padding: 0 31px;
    }
}

/* Styles for medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ra-nav-comp {
        padding: 7px 16.4063%;
    }
    .rb-logo {
        width: 146.3px;
    }
}

/* Styles for small to medium screens */
@media only screen and (max-width: 767px) {

    .ra-nav-comp {
        padding: 7px 16.4063%;
    }


    .rb-logo {
        width: 122px;
    }
    
}