
.rb-CoursePagination .rb-CoursePagination-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* gap: 45.45%; */
  margin-bottom: 40px;
}
.rb-CoursePagination  .rb-view-icon{
  font-size: 20px;
}
.rb-CoursePagination .rb-CoursePagination-head button:hover,.rb-CoursePagination .rb-CoursePagination-head .rb-view-active{
  color: var(--main-color);
}
  .rb-CoursePagination .rb-CoursePagination-head h1{
    font-size: 36px;
    padding-bottom: 0;
    width: max-content;
  }
  .rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox {
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    width: 270px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox:hover ,
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox:focus-visible{
  outline: none;
  border-bottom: 2px solid var(--main-color);
}
  .rb-CoursePagination .rb-CoursePagination-head .search-view{
    display: flex;
      gap: 20px;
      align-items: flex-start;
  }
  .rb-CoursePagination .rb-CoursePagination-head .search-view button{
    border: none;
    background-color: transparent;
  }
  .rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-search-pag{
    position: absolute;
    right: 0;
    bottom: 4.67px;
    font-size: 19px;
  }
  .rb-search-with-icone{
    position: relative;
    width: max-content;
  }
  
  .NA-view-svg {
    width: 15px;
    height: 15px;
  }
  .NA-view-svg path {
    fill: black;
  }
  .NA-view-svg:hover path, .NA-view-svg:focus path {
    fill: var(--main-color);
  }

  .rb-CoursePagination .rb-ul-pagination{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 30px ;
  }
  .rb-CoursePagination .rb-ul-pagination .rb-PageActive
  {
    transition: margin-bottom 0.3s ease , color 0.3s ease  ,background-color 0.3s ease;
    background-color: black;
    color: var(--white);
    width: 48px;
    height: 48px;
    margin-bottom:10px;
    padding-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    -webkit-transition: margin-bottom 0.3s ease , color 0.3s ease  ,background-color 0.3s ease;
    -moz-transition: margin-bottom 0.3s ease , color 0.3s ease  ,background-color 0.3s ease;
    -ms-transition: margin-bottom 0.3s ease , color 0.3s ease  ,background-color 0.3s ease;
    -o-transition: margin-bottom 0.3s ease , color 0.3s ease  ,background-color 0.3s ease;
}
  
  .rb-CoursePagination .rb-ul-pagination li
  {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid var(--light-gray);
    padding-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
  }
  .rb-CoursePagination .rb-ul-pagination li svg{
    font-size: 10px;
    padding-bottom: 1px;
  }




/*mediaQuery-------------------------------------------------------------------------------------  */
@media (min-width: 1201px) and (max-width: 1491px){
  .rb-CoursePagination .rb-CoursePagination-head h1 {
    font-size: 27px;}
    .rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox {

      width: 230px;
  }
  .rb-CoursePagination .rb-CoursePagination-head {
    margin-bottom: 20px;
}
.rb-listing {
  width: 807px;
  height: 207px;
  margin: 8px 0;
}
.rb-listing .NA-feature-card-img img {
  width: 330px;
  height: 205px;
}
.rb-listing .NA-feature-card-deatails {
  padding-bottom: 35px;
}
.rb-listing .NA-card-price a {
  width: max-content;
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
}
.rb-listing .NA-card-price {
  gap: 280px;
}
}
/*  -------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px){
  .rb-CoursePagination .rb-CoursePagination-head h1 {
    font-size: 27px;}

    .rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox {

      width: 187px;
  }

  .rb-CoursePagination .rb-CoursePagination-head {
    justify-content: space-between;
}
.rb-CoursePagination .rb-view-icon {
  font-size: 18px;
}
.rb-listing .NA-feature-card-img img {
  height: 189px;
  width: 286px;
}
.rb-listing {
  width: 666px;
  height: 190px;
}
.rb-listing .NA-feature-card-content {
  padding: 11px;
}
.NA-feature-card-content > div .NA-card-title {
  font-size: 17px;
  margin-bottom: 14px;}
  .rb-listing .NA-feature-card-deatails {
    padding-bottom: 46px;
}
.rb-listing .NA-card-price {
  padding-top: 11px;
  justify-content: flex-start;
  width: 348px;
  gap: 202px;
}
.NA-card-price a {
  font-size: 15px;
}
.NA-icon-desc {
  font-size: 10px !important;
  width: max-content;
}
.rb-CoursePagination .NA-feature-card-deatails .NA-icon {

  margin-right: 3px;

}
.rb-CoursePagination .rb-ul-pagination li {
  cursor: pointer;
  width: 41px;
  height: 41px;
  padding-top: 6px;

}
.rb-CoursePagination .rb-ul-pagination .rb-PageActive {
  width: 41px;
  height: 41px;
  padding-top: 6px;
}
.rb-CoursePagination .rb-ul-pagination {
  gap: 7px;
}}
/* =============================================================================================== */
@media only screen and (min-width: 768px) and  (max-width: 991px){

  .rb-CoursePagination .rb-listing {
    width: 511px;
    height: 134px;
    margin: 4px 0;
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.rb-listing .NA-feature-card-img {
    position: relative;
    width: max-content;
}
.rb-listing .NA-feature-card-img img {
    height: 132px;
}

.rb-listing .NA-feature-card-content {
    padding: 8px;
}
.NA-feature-card-content > div .NA-card-desc {
    margin-bottom: 5px;
    color: var(--dark-grey);
}
.rb-listing .NA-feature-card-deatails {
    padding-bottom: 24px;
}
.rb-CoursePagination .NA-feature-card-deatails .NA-icon {

    height: 12px;
}
.rb-CoursePagination .NA-icon-desc {
    width: max-content;
    font-size: 8px !important;
    height: 11px;
    text-transform: capitalize;
    color: var(--dark-grey);
}
.rb-listing .NA-card-price {
    border-top: 1px solid #EAEAEA;
    padding-top: 8px;
    justify-content: flex-start;
    gap: 133px;
}
.rb-CoursePagination .NA-card-price a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
}
.rb-CoursePagination .NA-feature-card-content > div .NA-card-title {
  font-size: 13px;
  margin-bottom: 9px;
}
.rb-CoursePagination .rb-CoursePagination-head h1 {
  font-size: 26px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox {
  width: 142px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-search-pag,
.rb-CoursePagination .rb-view-icon {
  font-size: 18px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view {
  gap: 15px;
}
.rb-CoursePagination .rb-CoursePagination-head {
  gap: 156px;
  margin-bottom: 27px;
}
.rb-CoursePagination .rb-ul-pagination li,.rb-CoursePagination .rb-ul-pagination .rb-PageActive {
  width: 39px;
  height: 39px;
  padding-top: 6px;
}
.rb-CoursePagination .rb-ul-pagination {
  gap: 5px;
  margin-top: 14px;
}
.rb-listing .NA-feature-card-deatails div {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
}
/* ============================================================================================== */
@media (max-width: 767px){
  .listing-button{
    display: none;
  }
  .rb-CoursePagination .rb-CoursePagination-head h1 {
    font-size: 21px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-searchbox {
  width: 98px;
}
.rb-CoursePagination .rb-CoursePagination-head .search-view .rb-search-with-icone .rb-search-pag {
  font-size: 17px;
}
/* .rb-CoursePagination .rb-CoursePagination-head { */
  /* display: flex; */
  /* gap: 49px; */
  /* margin-bottom: 40px; */
  /* flex-direction: column; */
  /* align-content: flex-start; */
  /* align-items: flex-start; */
/* } */
.rb-CoursePagination .rb-CoursePagination-head {

  gap: 0px;
  margin-bottom: 40px;
  justify-content: space-between;
  /* width: 251px; */
}
.rb-CoursePagination .rb-ul-pagination li,.rb-CoursePagination .rb-ul-pagination .rb-PageActive {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding-top: 5px;}

  .rb-CoursePagination .rb-ul-pagination {
    gap: 4px;
    margin-top: 6px;
}

}