:root {
  /* colors */
  --main-color : #FF782D;
  --green : #55BE24;
  --red : #F51A1A;
  --blue : #2580D5;
  --light-gray : #F5F5F5;
  --grey : #9D9D9D;
  --dark-grey : #555555;

  /* fonts */
  --Title : Exo;
  --paragarph : Jost; 
}
