:root {
  /* colors */
  --main-color : #FF782D; 
  --green : #55BE24;
  --red : #F51A1A;
  --blue : #2580D5;
  --light-gray : #F5F5F5;
  --grey : #9D9D9D;
  --dark-grey : #555555;
  --white : white;

}
h1,h2,h3,h4,h5,h6{
  font-family: "Exo", sans-serif;
  font-weight: 600;
}
p,a{
  font-family: "Jost",sans-serif;
  font-weight: 400;
}
.Project-Container{
  padding: 0px 16.43%;
}
